.firstScreen-container {
  background: center url("../assets/BackgroundFirstScreen.png");
  background-size: 100%;
  -o-object-fit: none;
     object-fit: none;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .firstScreen-container {
    height: 500px;
    background: url("../assets/BackgroundFirstScreen.png");
  }
}
@media screen and (max-width: 600px) {
  .firstScreen-container {
    padding: 0 12px;
  }
}
h1 {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
}

.firstScreen-content {
  color: #FFF;
  flex: 0 1 380px;
  font-size: 16px;
  line-height: 26px;
}