@import 'variables';



.container-fluid {}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0 60px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 32px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0 16px;
    }
}

@media screen and (max-width: 355px) {
    .header {
        padding: 0 0px;
    }
}


.header__home {
    display: flex;
    align-content: center;

    &>img {
        height: 26px;
        align-self: center;
    }
}

.header__buttons {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.button {
    width: 100px;
    height: 34px;
    font-size: 16px;
    background-color: $primary;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: $btn-hover;
    }

    &:disabled {
        background-color: $btn-disabled;
    }
}